# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# AutoHotkey compiled scripts
*.exe
*.dll
*.bin

# Visual Studio Code
.vscode/
*.code-workspace

# Backup files
*.bak
*.ahk.bak
